#set ( $prefixes = "
    PREFIX mod: <https://w3id.org/mod#>
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX xml: <http://www.w3.org/XML/1998/namespace>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX vann: <http://purl.org/vocab/vann/>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX mw-pm: <https://w3id.org/mouseworld/platform#>
    PREFIX mw-rt: <https://w3id.org/mouseworld/routing#>
    PREFIX mw-topo: <https://w3id.org/mouseworld/topology#>
    PREFIX mw-infra: <https://w3id.org/mouseworld/infra#>
" )
#set ( $topology = "
    SELECT *
    WHERE {
        ?topology a mw-topo:Topology ;
            mw-topo:topologyName ?topologyName .
    }
" )
#set( $queryTopology = "${prefixes}${topology}" )
#set( $resultTopology = $reader.getDataframe($queryTopology) )
name: $resultTopology[0].topologyName
#set ( $router = "
    SELECT *
    WHERE {
        ?node a mw-pm:Router ;
            mw-topo:nodeName ?nodeName ;
            mw-pm:operatingSystem ?operatingSystem
        .
        ?operatingSystem a mw-pm:OperatingSystem ;
            mw-pm:vendor ?vendor ;
            mw-infra:dockerImage ?dockerImage
        .
        ?vendor mw-pm:vendorName ?vendorName .
        ?dockerImage mw-infra:imageUrl ?dockerImageUrl .
    }
" )
#set( $queryRouter = "${prefixes}${router}" )
#set( $resultRouter = $reader.getDataframe($queryRouter) )
nodes:
#foreach($r in $resultRouter)
#if($r.vendorName == "FRRouting")
#set($vendorName = "HOST")
#else
#set($vendorName = $r.vendorName)
#end
- name: $r.nodeName
  vendor: $vendorName
  config:
    image: $r.dockerImageUrl
    config_path: /etc/frr
    config_file: frr.conf
    file: /frr.conf
  interfaces:
#set ( $interface = "
    SELECT *
    WHERE {
        ?node a mw-pm:Router ;
            mw-topo:nodeName ""$r.nodeName"" ;
            mw-topo:interface ?interface
        .
        ?interface mw-topo:interfaceName ?interfaceName .
    }
" )
#set( $queryInterface = "${prefixes}${interface}" )
#set( $resultInterface = $reader.getDataframe($queryInterface) )
#foreach($i in $resultInterface)
#set($lowerInterfaceName = $i.interfaceName.toLowerCase())
    $lowerInterfaceName:
      name: $i.interfaceName
#end
#end
links:
#set ( $link = "
    SELECT *
    WHERE {
        ?link a mw-topo:Link .
    }
" )
#set( $queryLink = "${prefixes}${link}" )
#set( $resultLink = $reader.getDataframe($queryLink) )
#foreach($i in $resultLink)
#set ( $connection = "
    SELECT *
    WHERE {
        <$i.link> a mw-topo:Link ;
            mw-topo:connectsInterface ?ifaceA ;
            mw-topo:connectsInterface ?ifaceB
        .
        ?ifaceA mw-topo:interfaceName ?ifaceNameA .
        ?nodeA mw-topo:interface ?ifaceA ;
            mw-topo:nodeName ?nodeNameA
        .
        ?ifaceB mw-topo:interfaceName ?ifaceNameB .
        ?nodeB mw-topo:interface ?ifaceB ;
            mw-topo:nodeName ?nodeNameB
        .
        FILTER (?ifaceA != ?ifaceB)
    }
" )
#set( $queryConnection = "${prefixes}${connection}" )
#set( $resultConnection = $reader.getDataframe($queryConnection) )
#foreach($c in $resultConnection)
#if($foreach.first)
- a_node: $c.nodeNameA
#set($lowerIfaceNameA = $c.ifaceNameA.toLowerCase())
  a_int: $lowerIfaceNameA
  z_node: $c.nodeNameB
#set($lowerIfaceNameB = $c.ifaceNameB.toLowerCase())
  z_int: $lowerIfaceNameB
#end
#end
#end
