@prefix mw: <https://w3id.org/candil/mouseworld#> .
@prefix mod: <https://w3id.org/mod#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix vann: <http://purl.org/vocab/vann/> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@base <http://mouseworld-test.org/> .

#set ($xs = $reader.getDataframe('{
    "iterator": "$.networks.*",
    "paths": {
        "network_id": "id",
        "network_name": "name",
    }
}'))

#foreach($x in $xs)
<Topology/mouseworld/Link/$x.network_id> rdf:type mw:Link ;
    mw:linkName "$x.network_name" ;
.
#end

#foreach($x in $xs)
<Topology/mouseworld> mw:link <Topology/mouseworld/Link/$x.network_id> .
#end