@prefix mod: <https://w3id.org/mod#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix vann: <http://purl.org/vocab/vann/> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix mw-pm: <https://w3id.org/mouseworld/platform#> .
@prefix mw-rt: <https://w3id.org/mouseworld/routing#> .
@prefix mw-topo: <https://w3id.org/mouseworld/topology#> .
@prefix mw-infra: <https://w3id.org/mouseworld/infra#> .
@base <http://example.org/> .

#set ($xs = $reader.getDataframe('{
    "iterator": "$.networks.*",
    "paths": {
        "network_id": "id",
        "network_name": "name",
    }
}'))

#foreach($x in $xs)
<Topology/mouseworld/Link/$x.network_id> rdf:type mw-topo:Link ;
    mw-topo:linkName "$x.network_name" ;
.
#end

#foreach($x in $xs)
<Topology/mouseworld> mw-topo:link <Topology/mouseworld/Link/$x.network_id> .
#end
