@prefix mod: <https://w3id.org/mod#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix vann: <http://purl.org/vocab/vann/> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix mw-pm: <https://w3id.org/mouseworld/platform#> .
@prefix mw-rt: <https://w3id.org/mouseworld/routing#> .
@prefix mw-topo: <https://w3id.org/mouseworld/topology#> .
@prefix mw-infra: <https://w3id.org/mouseworld/infra#> .
@base <http://example.org/> .

#set ($xs = $reader.getDataframe('{
    "iterator": "$.servers.*",
    "paths": {
        "id": "id",
        "name": "name"
    }
}'))

#foreach($x in $xs)
<Topology/mouseworld/Node/$x.id> rdf:type mw-pm:Router ;
    mw-topo:nodeName "$x.name" ;
    mw-pm:operatingSystem <OperatingSystem/FRR-10.4> ;
.
#end

<Topology/mouseworld> rdf:type mw-topo:Topology ;
    mw-topo:topologyName "mouseworld" ;
    #foreach($x in $xs)
    mw-topo:node <Topology/mouseworld/Node/$x.id> ;
    #end
.
